<div class="d-flex">
  <h4>Right Team</h4>

  <i class="fa-solid fa-print mx-5 mt-1"
  style="cursor: pointer; font-size: 30px; color:#007bff"
  (click)="printTable()"></i>
</div>
<div class="mb-3">
  <label for="teamSelect" class="form-label">Select Team</label>
  <select id="teamSelect" class="form-select" [(ngModel)]="selectedFilter" (change)="filterTeam()">
    <option value="">All</option>
    <option value="0">Registered Users</option>
    <option value="1">Subscribed</option>
    <option value="2">Silver</option>
    <option value="3">Gold</option>
    <option value="4">Diamond</option>
  </select>
</div>
<!-- Responsive wrapper -->
<div class="table-responsive" #tableToPrint>
  <table class="table table-bordered align-middle">
    <thead class="table-light">
      <tr>
        <th>S.No</th>
        <th>Date</th>
        <th>User Id</th>
        <th>Subscription</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of paginatedData; let i = index">
        <td>{{ (currentPage - 1) * itemsPerPage + i + 1 }}</td>
        <td>{{ row.cdate }}</td>
        <td>{{ row.forid }}</td>
        <td>
          <span *ngIf="row.board == '0'" class="text-danger">Not Subscribe</span>
          <span *ngIf="row.board == '1'" class="text-success">Subscribed</span>
          <span *ngIf="row.board == '2'" class="text-primary">Silver Upgrade</span>
          <span *ngIf="row.board == '3'" class="text-warning">Gold Upgrade</span>
          <span *ngIf="row.board == '4'" class="text-info">Diamond Upgrade</span>
        </td>
        <td>
          <span *ngIf="row.status == '1'" class="text-success">Active</span>
          <span *ngIf="row.status == '0'" class="text-danger">Inactive</span>
        </td>
      </tr>
        <!-- No data found message -->
        <tr *ngIf="filteredData.length === 0">
          <td colspan="6" class="text-center text-danger fw-bold">
            No data is available
          </td>
        </tr>
    </tbody>
  </table>
</div>

<!-- Pagination -->
<nav *ngIf="totalPages > 1" class="mt-3">
  <ul class="pagination justify-content-center">
    <li class="page-item" [class.disabled]="currentPage === 1">
      <a class="page-link" (click)="changePage(currentPage - 1)">Previous</a>
    </li>
    <li class="page-item"
        *ngFor="let page of [].constructor(totalPages); let pageIndex = index"
        [class.active]="currentPage === pageIndex + 1">
      <a class="page-link" (click)="changePage(pageIndex + 1)">{{ pageIndex + 1 }}</a>
    </li>
    <li class="page-item" [class.disabled]="currentPage === totalPages">
      <a class="page-link" (click)="changePage(currentPage + 1)">Next</a>
    </li>
  </ul>
</nav>
