<!-- Self Transfer Section -->
<!-- <div class="card container-fluid">
  <div class="d-flex mt-4 align-items-center mb-4 gap-1">
    <h4 class="fw-bold">Self Transfer</h4>
    <button class="btn btn-sm btn-success" data-bs-toggle="modal" data-bs-target="#selfTransferModal">
      <i class="fa-solid fa-money-bill-transfer"></i> Self Transfer
    </button>
  </div>

  <div class="container-fluid mt-3">
    <div class="transaction-table">
      <div class="table-responsive">
        <table class="table align-middle text-nowrap">
          <thead>
            <tr>
              <th class="fw-bold">S.no</th>
              <th class="fw-bold">Date</th>
              <th class="fw-bold">Amount</th>
            </tr>
          </thead>
          <tbody>
          
            <tr *ngIf="sPaginatedData.length === 0">
              <td colspan="3" class="text-center text-danger fw-bold">
                No data is available
              </td>
            </tr>
  
          
            <tr *ngFor="let item of sPaginatedData; let i = index">
              <td>{{ (sCurrentPage - 1) * itemsPerPage + i + 1 }}</td>
              <td>{{ item.cdate | date:'dd-MM-yyyy' }}</td>
              <td>{{ item.amount }}</td>
            </tr>
          </tbody>
        </table>
      </div>
  
      
      <nav *ngIf="sTotalPages > 1" class="mt-2">
        <ul class="pagination justify-content-center">
          <li class="page-item" [class.disabled]="sCurrentPage === 1">
            <a class="page-link" (click)="setSelfPage(sCurrentPage - 1)">Previous</a>
          </li>
  
          <li class="page-item"
              *ngFor="let page of [].constructor(sTotalPages); let p = index"
              [class.active]="sCurrentPage === (p + 1)">
            <a class="page-link" (click)="setSelfPage(p + 1)">{{ p + 1 }}</a>
          </li>
  
          <li class="page-item" [class.disabled]="sCurrentPage === sTotalPages">
            <a class="page-link" (click)="setSelfPage(sCurrentPage + 1)">Next</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  
</div> -->


<div class="modal fade" id="selfTransferModal" tabindex="-1" aria-labelledby="selfTransferModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content" style="border-radius: 20px;">
      <div class="modal-header">
        <h5 class="modal-title" id="selfTransferModalLabel">Self Transfer</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form [formGroup]="form">
        <div class="modal-body text-center">

            <input
  type="text"
  class="form-control mb-2"
  placeholder="Enter Amount"
  formControlName="amount"
  (input)="formatAmount($event, 'form')"
  style="border-radius: 16px; font-size: 25px;" />

          <p class=" fw-bold " *ngIf="pffdata"> Balance: <span>{{pffdata.walletamount |
            currency:'USD':true:'1.0-2'}}</span> </p>
        </div>
        <div class="modal-footer d-flex justify-content-between">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" style="border-radius: 16px;" (click)="SelfTransfer()">Transfer
            Amount</button>
          <button type="button" class="btn btn-danger" style="border-radius: 16px;"
            data-bs-dismiss="modal">CLOSE</button>
        </div>
      </form>
    </div>
  </div>
</div>


<!-- Wallet Transfer Section -->
<div class="card container-fluid mt-2">
  <div class="d-flex mt-4 align-items-center mb-4 gap-1">
    <h4 class="fw-bold">Wallet Transfer</h4>
    <button class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#walletTransferModal">
      <i class="fa-solid fa-money-bill-transfer"></i> Wallet Transfer
    </button>
  </div>

  <div class="container-fluid mt-3">
    <!-- <h5 class="fw-semibold mb-4">Wallet Transfer</h5> -->
    <div class=" shadow-sm rounded-4 p-3 border-0">
      <div class="table-responsive">
        <table class="table  align-middle text-nowrap">
          <thead class="text-secondary fw-semibold" style="border-bottom: 1px solid #dee2e6;">
            <tr>
              <th>S.no</th>
              <th>Date</th>
              <th>Registration ID</th>
              <th>Name</th>
              <th> Amount</th>
              <th>WalletType</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of wPaginatedData; let i = index">
              <td>{{ (wCurrentPage - 1) * itemsPerPage + i + 1 }}</td>
              <td>{{ item.cdate }}</td>
              <td>{{ item.userid }}</td>
              <td>{{ item.rname }}</td>
              <td>${{ item.amount }}</td>
              <td>{{ item.waltype }}</td>
            </tr>
                <!-- No data found message -->
                <tr *ngIf="wPaginatedData.length === 0">
                  <td colspan="6" class="text-center text-danger fw-bold">
                    No data is available
                  </td>
                </tr>
  
            
          </tbody>
        </table>
      </div>
    </div>
    <nav *ngIf="wTotalPages > 1">
      <ul class="pagination justify-content-center mt-3">
        <li class="page-item" [class.disabled]="wCurrentPage === 1">
          <button class="page-link" (click)="setWalletPage(wCurrentPage - 1)">Previous</button>
        </li>
        <li class="page-item" *ngFor="let page of [].constructor(wTotalPages); let idx = index"
            [class.active]="wCurrentPage === idx + 1">
          <button class="page-link" (click)="setWalletPage(idx + 1)">{{ idx + 1 }}</button>
        </li>
        <li class="page-item" [class.disabled]="wCurrentPage === wTotalPages">
          <button class="page-link" (click)="setWalletPage(wCurrentPage + 1)">Next</button>
        </li>
      </ul>
    </nav>
    
  </div>
</div>
<!-- Modal: Wallet Transfer -->
<div class="modal fade" id="walletTransferModal" tabindex="-1" aria-labelledby="walletTransferModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content" style="border-radius: 20px;">
      <div class="modal-header">
        <h5 class="modal-title" id="walletTransferModalLabel">Wallet Transfer</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form [formGroup]="form1">
        <div class="modal-body text-center">
            <input type="text" class="form-control mb-2" placeholder="Enter Registered Id" formControlName="regid"  (keyup)="onRegIdKeyup()" style="border-radius: 16px; font-size: 20px;" />

          <!-- Display username if fetched -->
          <div *ngIf="idData" class="text-primary mt-2 fs-5">
            Username: {{ idData.name }}
          </div>

          <!-- Show Error Message if user not found -->
          <div *ngIf="errorMessage" class="text-danger mt-2 fs-6">
            {{ errorMessage }}
          </div>

          <!-- <input type="text" class="form-control mb-2" placeholder="Enter Amount" formControlName="amount"
            style="border-radius: 16px; font-size: 25px;" /> -->
            <input type="text" class="form-control mb-2"  placeholder="Enter Amount" formControlName="amount"  (input)="formatAmount($event, 'form1')"  style="border-radius: 16px; font-size: 20px;" />

            <select class="form-control mb-2" formControlName="wallettyoe" style="border-radius: 16px; font-size: 20px;">
              <option value="" selected>Select Wallet</option>
              <option value="dwallet">Deposite Funds</option>
              <option value="ewallet">Withdraw Funds</option>
            </select>
              <input type="text" class="form-control mb-2"  placeholder="Enter Amount" formControlName="amount"  (input)="formatAmount($event, 'form1')"  style="border-radius: 16px; font-size: 20px;" />

          <p class=" fw-bold "> Deposite Funds: <span class="text-primary">{{pffdata.actwallet | currency:'USD':true:'1.0-2'}}</span></p>
          <p class=" fw-bold "> Withdraw Funds: <span class="text-success">{{pffdata.walletamount | currency:'USD':true:'1.0-2'}}</span></p>
        </div>
        <div class="modal-footer d-flex justify-content-between">
        <button type="button" class="btn btn-primary"  [disabled]="errorMessage" style="border-radius: 16px;" data-bs-dismiss="modal"
  (click)="WalletTransfer()"> Transfer Amount </button>

          <button type="button" class="btn btn-danger" style="border-radius: 16px;"
            data-bs-dismiss="modal">CLOSE</button>
        </div>
      </form>
    </div>
  </div>
</div>