<div class="toggle-btn " (click)="toggleSidebar()">
  <i class="fas fa-bars"></i>
</div>
<div class="sidebar scroll" [class.collapsed]="isCollapsed" style="overflow-y: auto; max-height: 100vh;">
  <a><i class="fas fa-tachometer-alt me-2" style="color: black;"></i> </a>

  <a routerLink="/dashboard"><i class="fas fa-tachometer-alt me-2"></i> Dashboard</a>
  <a routerLink="/referral"><i class="fas fa-user-friends me-2"></i> Referral</a>
  <!-- <a routerLink="/subscription"><i class="fas fa-star me-2"></i> Subscription</a> -->
  <!-- <a routerLink="/wallet"><i class="fas fa-wallet me-2"></i> Wallet</a> -->
  <a routerLink="/report"><i class="fas fa-chart-bar me-2"></i> Report</a>
  <a routerLink="/withdraw"><i class="fas fa-arrow-circle-down me-2"></i> Withdraw</a>
  <a routerLink="/profile"><i class="fas fa-user me-2"></i> Profile</a>
  <a routerLink="/direct-team"><i class="fas fa-user me-2"></i> Direct Team</a>


  <!-- Team Menu -->
  <div class="nav-item">
    <a class="nav-link text-white" data-bs-toggle="collapse" href="#teamMenu" role="button" aria-expanded="false"
      aria-controls="teamMenu">
      <i class="fa-solid fa-people-group"></i> Team <i class="fas fa-caret-down float-end"></i>
    </a>
    <div class="collapse ps-3" id="teamMenu">
      <ul class="nav flex-column">
        <li class="nav-item"><a class="nav-link text-white" routerLink="/leftteam">Left Team</a></li>
        <li class="nav-item"><a class="nav-link text-white" routerLink="/rightteam">Right Team</a></li>
        <li class="nav-item"><a class="nav-link text-white" (click)="mytree(udata.regid)">Tree View</a></li> 
      </ul>
    </div>
  </div>

  <!-- Incomes Menu -->
  <div class="nav-item">
    <a class="nav-link text-white" data-bs-toggle="collapse" href="#incomeMenu" role="button" aria-expanded="false"
      aria-controls="incomeMenu">
      <i> <img src="https://img.icons8.com/?size=100&id=xwhVekSUepQ9&format=png&color=000000"
          style="width: 20px; height: 20px; filter: invert(100%);" alt="Funds icon">
      </i> Incomes <i class="fas fa-caret-down float-end"></i>
    </a>
    <!-- dfghjk -->
    <div class="collapse ps-3" id="incomeMenu">
      <ul class="nav flex-column">
        <li class="nav-item"><a class="nav-link text-white" routerLink="/sponsorincome">Sponsor Income</a></li>
        <li class="nav-item"><a class="nav-link text-white" routerLink="/matchingincome">Matching Income</a></li>
      </ul>
    </div>
  </div>
<!-- <h1></h1> -->
  <!-- Funds Menu -->
  <div class="nav-item">
    <a class="nav-link text-white" data-bs-toggle="collapse" href="#fundsMenu" role="button" aria-expanded="false"
      aria-controls="fundsMenu">
      <i> <img src="https://img.icons8.com/?size=100&id=0HSNV2HcCX5d&format=png&color=000000"
          style="width: 20px; height: 20px; filter: invert(100%);" alt="Funds icon">
      </i> Funds <i class="fas fa-caret-down float-end"></i>
    </a>
    <div class="collapse ps-3" id="fundsMenu">
      <ul class="nav flex-column">
        <li class="nav-item"><a class="nav-link text-white" routerLink="/deposit">Deposit Funds</a></li>
        <li class="nav-item"><a class="nav-link text-white" routerLink="/withdraw">Withdraw Funds</a></li>
        <li class="nav-item"><a class="nav-link text-white" routerLink="/transfer">Transfer Funds</a></li>
        <li class="nav-item"><a class="nav-link text-white" routerLink="/recieved">Received Funds</a></li>
      </ul>
    </div>
  </div>

  <!-- Logout -->
  <a (click)="logout()"><i class="fas fa-sign-out-alt me-2"></i> Logout</a>
</div>

<div class="main-content" [class.full-width]="isCollapsed">
  <div class="container-fluid" style="background-color: #fff;padding: 10px; border-radius: 10px;">
    <div class="top-header">
      <div class="d-flex justify-content-center">
        <div class="nav-bar">
          <nav class="nav">
            <a class="nav-link" [class.active]="activeLink === 'dashboard'" (click)="setActive('dashboard')"
              href="#">Dashboard</a>
            <a class="nav-link" [class.active]="activeLink === 'deposit'" (click)="setActive('deposit')"
              href="#">Deposit</a>
            <a class="nav-link" [class.active]="activeLink === 'withdraw'" (click)="setActive('withdraw')"
              href="#">Withdraw</a>
          </nav>
        </div>
      </div>

      <div class="d-flex justify-content-end">
        <div class="dropdown">
          <p id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-user text-warning me-2"></i>
          </p>
          <ul class="dropdown-menu" aria-labelledby="userDropdown">
            <li class="dropdown-header">
              <i class="fas fa-user text-warning me-2"></i>Chandu
            </li>
            <li><a class="dropdown-item" href="#"><i class="bi bi-person"></i> My Profile</a></li>
            <li><a class="dropdown-item" href="#"><i class="bi bi-speedometer2"></i> My Dashboard</a></li>
            <li><a class="dropdown-item upgrade" href="#"><i class="bi bi-arrow-up-circle"></i> Upgrade</a></li>
            <li><a class="dropdown-item" href="#"><i class="bi bi-gear"></i> Account Setting</a></li>
            <li><a class="dropdown-item logout" href="#"><i class="bi bi-box-arrow-right"></i> Logout</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>


  <div class="container-fluid ">
    <router-outlet></router-outlet>
  </div>
</div>