<div class="card shadow-sm border-0 p-3 m-2" style="border-radius: 12px;">
  <!-- Header Row -->
  <div class="row align-items-center mb-3">
    <div class="col-md-6 col-12 text-center text-md-start mb-2 mb-md-0">
      <p-tag icon="pi pi-sitemap" severity="success" value="My Genealogy" [rounded]="true"></p-tag>
    </div>
  </div>

  <!-- Team Info -->

  <div class="row text-center g-3 d-none d-md-flex">
  <div class="col-6 col-sm-4 col-md-2">
    <img src="assets/rfree" alt="Free User" height="50">
    <h6 class="mt-2">Free User</h6>
  </div>
  <div class="col-6 col-sm-4 col-md-2">
    <img src="assets/rgreen" alt="Subscribed" height="50">
    <h6 class="mt-2">Subscribed</h6>
  </div>
  <div class="col-6 col-sm-4 col-md-2">
    <img src="assets/rdiamond" alt="Silver" height="50">
    <h6 class="mt-2">Silver</h6>
  </div>
  <div class="col-6 col-sm-4 col-md-2">
    <img src="assets/rgold" alt="Gold" height="50">
    <h6 class="mt-2">Gold</h6>
  </div>
  <div class="col-6 col-sm-4 col-md-2">
    <img src="assets/dimaod.jpeg" alt="Diamond" height="50">
    <h6 class="mt-2">Diamond</h6>
  </div>
  <div class="col-6 col-sm-4 col-md-2">
    <img src="assets/falur.jpeg" alt="Default" height="50">
    <h6 class="mt-2">Default</h6>
  </div>
</div>

<div class="row text-center g-3 d-lg-none">
    <!-- Sticky Icon List -->
<div class="sticky-icons">
  <div class="icon-item">
    <img src="assets/rfree" alt="Free User">
    <span>Free User</span>
  </div>
  <div class="icon-item">
    <img src="assets/rgreen" alt="Subscribed">
    <span>Subscribed</span>
  </div>
  <div class="icon-item">
    <img src="assets/rdiamond" alt="Silver">
    <span>Silver</span>
  </div>
  <div class="icon-item">
    <img src="assets/rgold" alt="Gold">
    <span>Gold</span>
  </div>
  <div class="icon-item">
    <img src="assets/dimaod.jpeg" alt="Diamond">
    <span>Diamond</span>
  </div>
  <div class="icon-item">
    <img src="assets/falur.jpeg" alt="Default">
    <span>Default</span>
  </div>
</div>

</div>


  <!-- Search Section -->
  <div class="mt-4">
    <label class="form-label fw-bold text-primary">Search User ID</label>
    <div class="d-flex flex-wrap gap-2">
      <input type="text" pInputText [(ngModel)]="udata.regid" 
             placeholder="Enter User ID" 
             class="flex-grow-1 p-inputtext-sm form-control" />
      <button class="btn btn-sm btn-danger" (click)="mytree1(udata.regid)">
        <i class="pi pi-search"></i> Submit
      </button>
    </div>
  </div>
</div>
<!-- nhh -->


<div class="card flex justify-content-center overflow-x-auto p-2">

   <div *ngIf="errorMessage" class="error-message">
     <span class="text-danger text-center">{{ errorMessage }}</span>
 </div>
 <div class="container mt-2">
    <div class="tree-back-btn">
    <button (click)="goBack()" class="btn btn-sm btn-primary">
      <i class="pi pi-arrow-left"></i> Back
    </button>
    <!-- <i class="fa-solid fa-print mx-5"  
    style="cursor: pointer; font-size: 28px; color:#007bff" 
    (click)="printTable()"></i>
  </div>
   <p-organizationChart [value]="data" styleClass="responsive-org-chart">
     <ng-template let-node pTemplate="person">
       <div class="text-center node-container" style="cursor: pointer;">
         <img
           [src]="node.data.image"
          (click)="handleNodeClick(node.data)"
           class="node-image mb-2"
           [pTooltip]="node.data.tooltip"
           tooltipPosition="top"
           tooltipStyleClass="custom-tooltip"
         />
         <div class="font-bold node-name" (click)="showDialog(node.data)">
           <span class="text-success">{{ node.data.name }}</span>
         </div>
         <div class="node-title"><span class="text-primary">{{ node.data.title }}</span></div>
       </div>
     </ng-template>
   </p-organizationChart> -->
<!--  -->

   <i class="fa-solid fa-print mx-5"
   style="cursor: pointer; font-size: 28px; color:#007bff"
   (click)="printTable()">
</i>
 <i class="fa-solid fa-download mx-5 mt-1"
     style="cursor: pointer; font-size: 30px; color:green"
     (click)="downloadPDF()"></i>

<!-- Organization Chart -->
<div id="orgChartToPrint">
  <p-organizationChart [value]="data" styleClass="responsive-org-chart">
    <ng-template let-node pTemplate="person">
      <div class="text-center node-container" style="cursor: pointer;">
        <img
          [src]="node.data.image"
          (click)="handleNodeClick(node.data)"
          class="node-image mb-2"
          [pTooltip]="node.data.tooltip"
          tooltipPosition="top"
          tooltipStyleClass="custom-tooltip"
        />
        <div class="font-bold node-name" (click)="showDialog(node.data)">
          <span class="text-success">{{ node.data.name }}</span>
        </div>
        <div class="node-title">
          <span class="text-primary">{{ node.data.title }}</span>
        </div>
      </div>
    </ng-template>
  </p-organizationChart>
</div>




 </div>
 
 <div class="d-lg-block d-none">
   <p-dialog header="" [(visible)]="visible" [modal]="true" [style]="{ width: '30vw' }" [draggable]="false" [resizable]="false">
     <div class="card" *ngIf="loading">
       <p class="text-danger">Data Loading Please Wait...</p>
     </div>
     <div *ngIf="!loading">
       <div class="m-0" *ngIf="repd">
         <h4 class="text-danger">{{repd.name}} ({{repd.title}})</h4>
         <div class="">  
             <!-- <div class="col-md-6 text-left"><h4>{{repd.title}}</h4></div> -->
             <div class="m-0">
                 <!-- {{tdata | json}} -->
                 <div class="table-responsive">
                     <table class="table table-bordered">
                       <thead>
                         <!-- <tr><th colspan="2" class="text-success">Team</th></tr> -->
                         <tr>
                           <th scope="col">Pckage</th>
                           <th scope="col">Left</th>
                           <th scope="col">Right</th>
                         </tr>
                       </thead>
                       <tbody>
                         <tr>
                           <th class="text-primary">Total</th>
                           <th>{{ tdata.mleft }}</th>
                           <td>{{ tdata.mright }}</td>
                         </tr>
                          <tr>
                           <th class="text-secondary">Level Users</th>
                           <th>{{ tdata.mlevelleft }}</th>
                           <td>{{ tdata.mlevelright }}</td>
                         </tr>
                         <tr>
                           <th class="text-success">Silver Members</th>
                           <th>{{ tdata.msilverleft }} </th>
                           <td>{{ tdata.msilverright }}</td>
                         </tr>
                         <tr>
                           <th class="text-warning">Gold Members</th>
                           <th>{{ tdata.mgoldleft }} </th>
                           <td>{{ tdata.mgoldright }}</td>
                         </tr>
                         <tr>
                           <th class="text-danger">Diamond Members</th>
                           <th>{{ tdata.mdiamondleft }} </th>
                           <td>{{ tdata.mdiamondright }}</td>
                         </tr>
                       </tbody>
                       
                     </table>
                 </div>
             </div> 
         </div>
      </div>
     </div>
   </p-dialog>
 </div>
 
 <div class="d-lg-none d-block">
   <p-dialog header="" [(visible)]="visible" [modal]="true" [style]="{ width: '100vw' }" [draggable]="false" [resizable]="false">
     <div class="card" *ngIf="loading">
       <p class="text-danger">Data Loading Please Wait...</p>
     </div>
     <div *ngIf="!loading">
       <div class="m-0" *ngIf="repd">
         <h4 class="text-danger">{{repd.name}} ({{repd.title}})</h4>
         <div class="">  
             <!-- <div class="col-md-6 text-left"><h4>{{repd.title}}</h4></div> -->
             <div class="m-0">
                 <!-- {{tdata | json}} -->
                 <div class="table-responsive">
                     <table class="table table-bordered">
                       <thead>
                         <!-- <tr><th colspan="2" class="text-success">Team</th></tr> -->
                         <tr>
                           <th scope="col">Pckage</th>
                           <th scope="col">Left</th>
                           <th scope="col">Right</th>
                         </tr>
                       </thead>
                       <tbody>
                         <tr>
                           <th class="text-primary">Total</th>
                           <th>{{ tdata.mleft }}</th>
                           <td>{{ tdata.mright }}</td>
                         </tr>
                          <tr>
                           <th class="text-secondary">Level Users</th>
                           <th>{{ tdata.mlevelleft }}</th>
                           <td>{{ tdata.mlevelright }}</td>
                         </tr>
                         <tr>
                           <th class="text-success">Silver Members</th>
                           <th>{{ tdata.msilverleft }} </th>
                           <td>{{ tdata.msilverright }}</td>
                         </tr>
                         <tr>
                           <th class="text-warning">Gold Members</th>
                           <th>{{ tdata.mgoldleft }} </th>
                           <td>{{ tdata.mgoldright }}</td>
                         </tr>
                         <tr>
                           <th class="text-danger">Diamond Members</th>
                           <th>{{ tdata.mdiamondleft }} </th>
                           <td>{{ tdata.mdiamondright }}</td>
                         </tr>
                       </tbody>
                     </table>
                 </div>
             </div> 
         </div>
      </div>
     </div>
   </p-dialog>
 </div>
 
   
 </div>


