<section>


    <div class="container-fluid">
      <div class="row ">
        <div class="col-lg-8">
          <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="10000">
                <img src="assets/illustration-3.webp" class="d-block w-100" alt="...">
              </div>
              <!-- <div class="carousel-item" data-bs-interval="2000">
                <img src="..." class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="..." class="d-block w-100" alt="...">
              </div> -->
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
              data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
              data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
  
        <div class="col-lg-4 mt-5 p-">
          <div class="d-flex justify-content-center pt-5" style="background-color: #FFFFFF; min-height: 100vh;">
            <div class="register-container" style="width: 100%; max-width: 400px;">
              <h1 style="color: rgb(8, 5, 5); text-align: center; font-size: 2rem; margin-bottom: 2rem;">REGISTER</h1>
              <form [formGroup]="registerForm" (ngSubmit)="sign()">
  
  
                <div class="row mb-3">
                  <div class="col-6">
  
                    <label class="form-label">First Name</label>
                    <div class="input-wrapper" style="position: relative;">
                      <input type="text" formControlName="name" autocomplete="off" placeholder="Adam"
                        style="background-color: #FFFFFF; border: 1px solid #181717; border-radius: 20px; color: #131212; padding: 10px 10px 10px 40px; width: 100%; box-sizing: border-box;"
                        required />
                      <i class="fas fa-user"
                        style="position: absolute; left: 10px; top: 50%; transform: translateY(-50%); color: #090909; z-index: 1;"></i>
                    </div>
                  </div>
                  <div class="col-6">
                    <label class="form-label">Phone</label>
                    <div class="input-wrapper" style="position: relative;">
                      <input type="text" formControlName="phone" autocomplete="off" placeholder=" phone number"
                        style="background-color: #FFFFFF; border: 1px solid #181717; border-radius: 20px; color: #131212; padding: 10px 10px 10px 40px; width: 100%; box-sizing: border-box;"
                        required />
                      <i class="fa-solid fa-phone"
                        style="position: absolute; left: 10px; top: 50%; transform: translateY(-50%); color: #090909; z-index: 1;"></i>
                    </div>
                  </div>
                </div>
  
                <div class="row mb-3">
                  <div class="col-6">
                    <label class="form-label">Email</label>
                    <div class="input-wrapper" style="position: relative;">
                      <input type="email" formControlName="email" autocomplete="off" placeholder="example@domain.com"
                        style="background-color: #FFFFFF; border: 1px solid #181717; border-radius: 20px; color: #131212; padding: 10px 10px 10px 40px; width: 100%; box-sizing: border-box;"
                        required />
                      <i class="fas fa-envelope"
                        style="position: absolute; left: 8px; top: 50%; transform: translateY(-50%); color: #090909; z-index: 1;"></i>
                    </div>
                  </div>
                  <div class="col-6">
                      <label class="form-label">Country</label>
                      <div class="input-wrapper" style="position: relative;">
                        <select formControlName="country"
                          style="background-color: #FFFFFF; border: 1px solid #181717; border-radius: 20px; color: #131212; padding: 10px 10px 10px 40px; width: 100%; box-sizing: border-box; appearance: none;"
                          required>
                          <option value="" disabled selected>Select your country</option>
                          <option *ngFor="let country of countries" [value]="country">{{ country }}</option>
                        </select>
                        <i class="fas fa-globe"
                          style="position: absolute; left: 10px; top: 50%; transform: translateY(-50%); color: #090909; z-index: 1;"></i>
                      </div>
                    </div>

                </div>
  
                <div class="row mb-3">
                  <div class="col-6">
                    <label class="form-label">Password</label>
                    <div class="input-wrapper" style="position: relative;">
                      <input type="password" formControlName="password" autocomplete="new-password" placeholder="********"
                        style="background-color: #FFFFFF; border: 1px solid #181717; border-radius: 20px; color: #131212; padding: 10px 10px 10px 40px; width: 100%; box-sizing: border-box;"
                        required />
                      <i class="fas fa-lock"
                        style="position: absolute; left: 10px; top: 50%; transform: translateY(-50%); color: #090909; z-index: 1;"></i>
                    </div>
                  </div>
                  <!-- <div class="col-6">
                                      <label class="form-label">Confirm Password</label>
                                      <div class="input-wrapper" style="position: relative;">
                                          <input type="password" formControlName="confirmPassword" autocomplete="new-password" placeholder="********" style="background-color: #FFFFFF; border: 1px solid #181717; border-radius: 20px; color: #131212; padding: 10px 10px 10px 40px; width: 100%; box-sizing: border-box;" required />
                                          <i class="fas fa-lock" style="position: absolute; left: 10px; top: 50%; transform: translateY(-50%); color: #090909; z-index: 1;"></i>
                                      </div>
                                  </div> -->
               
                  <div class="col-6">
                    <label class="form-label">Position</label>
                    <div class="input-wrapper" style="position: relative;">
                      <select formControlName="position"
                        style="background-color: #FFFFFF; border: 1px solid #181717; border-radius: 20px; color: #131212; padding: 10px 10px 10px 40px; width: 100%; box-sizing: border-box; appearance: none;"
                        required>
                        <option value="" selected>Select Position</option>
                        <option value="Right">Right</option>
                        <option value="Left">Left</option>
                        <!-- Add more countries as needed -->
                      </select>
                       <i class="fa-solid fa-left-right"
                        style="position: absolute; left: 10px; top: 50%; transform: translateY(-50%); color: #090909; z-index: 1;"></i>
                    </div>
                  </div>
  
                </div>
  
                <div class="mb-3">
                  <label class="form-label">Referral ID</label>
                  <div class="input-wrapper" style="position: relative;">
                    <input
                      type="text"
                      formControlName="sponcerid"
                      (keyup)="onRegIdKeyup()"
                      autocomplete="off"
                      [(ngModel)]="pffdata.regid"
                      style="background-color: #FFFFFF; border: 1px solid #181717; border-radius: 20px; color: #131212; padding: 10px 10px 10px 40px; width: 100%; box-sizing: border-box;" readonly/>
                    <i class="fas fa-key"
                      style="position: absolute; left: 10px; top: 50%; transform: translateY(-50%); color: #090909; z-index: 1;"></i>
                  </div>
                
                  <!-- Show referral name -->
                  <div >
                    <small class="text-success">Referral Name: {{ pffdata.name }}</small>
                  </div>
                
                  <!-- Show error -->
                  <div *ngIf="errorMessage">
                    <small class="text-danger">{{ errorMessage }}</small>
                  </div>
                </div>
                
  
  
  
  
  
  
  
                <div class="mb-3">
                  <label style="color: #131212;">
                    <input type="checkbox" formControlName="terms" required /> I have read and agree to MYUSD <a
                      href="">Terms and Conditions</a>
                  </label>
                </div>
  
                <button type="submit" class="btn btn-signup"
                  style="background-color: #0a0909; border: none; border-radius: 20px; color: white; padding: 10px 30px; width: 100%; font-size: 1.2rem;"
                  (click)="sign()">Sign Up</button>
                <div style="text-align: center; margin-top: 1rem; ">
                  Already have an account? <a routerLink="/login" style="color: blue; text-decoration: none;">Log In</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>