<div class="card container-fluid">
  <div class="d-flex mt-4 align-items-center ">
    <h4 class="fw-bold">Received wallet <i class="fa-solid fa-arrow-down-short-wide"></i>
   </h4>
  </div>

  <div class="container-fluid mt-3">
    <div class="shadow-sm rounded-4 p-3 border-0">
      <div class="table-responsive">
        <table class="table  align-middle text-nowrap">
          <thead class="text-secondary fw-semibold" style="border-bottom: 1px solid #dee2e6;">
            <tr>
              <th>S.no</th>
              <th>Date</th>
              <th>Registration ID</th>
              <th>Name</th>
              <th> Amount</th>
              <th>WalletType</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of rPaginatedData; let i = index">
              <td>{{ (rCurrentPage - 1) * itemsPerPage + i + 1 }}</td>
              <td>{{ item.cdate }}</td>
              <td>{{ item.userid }}</td>
              <td>{{ item.rname }}</td>
              <td>${{ item.amount }}</td>
              <td>{{ item.waltype }}</td>
            </tr>
                <!-- No data found message -->
                <tr *ngIf="rPaginatedData.length === 0">
                  <td colspan="6" class="text-center text-danger fw-bold">
                    No data is available
                  </td>
                </tr>
  
          </tbody>
        </table>
      </div>
    </div>
    <nav *ngIf="rTotalPages > 1">
      <ul class="pagination justify-content-center mt-3">
        <li class="page-item" [class.disabled]="rCurrentPage === 1">
          <button class="page-link" (click)="setReceivedPage(rCurrentPage - 1)">Previous</button>
        </li>
        <li class="page-item" *ngFor="let page of [].constructor(rTotalPages); let idx = index"
            [class.active]="rCurrentPage === idx + 1">
          <button class="page-link" (click)="setReceivedPage(idx + 1)">{{ idx + 1 }}</button>
        </li>
        <li class="page-item" [class.disabled]="rCurrentPage === rTotalPages">
          <button class="page-link" (click)="setReceivedPage(rCurrentPage + 1)">Next</button>
        </li>
      </ul>
    </nav>
  
    
  </div>

</div>