    <h2 class="mb-4  fw-bold">📊 Company Dashboard</h2>
  
    <div class="row g-3">
      <div class="col-md-3" *ngFor="let item of [
          {title: 'Active Users', value: dashboardData.activeusers},
          {title: 'Inactive Users', value: dashboardData.inactiveusers},
          {title: 'Today Active', value: dashboardData.todayactiveusers},
          {title: 'Today Inactive', value: dashboardData.todayinactiveusers},
          {title: 'Credit', value: dashboardData.credit},
          {title: 'Debit', value: dashboardData.debit},
          {title: 'Diamond Binary Credit', value: dashboardData.diamondbinarycredit},
          {title: 'Gold Binary Credit', value: dashboardData.goldbnarycredit},
          {title: 'Silver Binary Credit', value: dashboardData.silverbinarycredit},
          {title: 'Level Binary Credit', value: dashboardData.levelbinarycredit},
          {title: 'Sponsor Credit', value: dashboardData.sponcercredit}
        ]">
        <div class="card shadow-sm border-0 h-100">
          <div class="card-body text-center">
            <h5 class="card-title fw-bold">{{item.title}}</h5>
            <p class="fs-4 text-success fw-semibold">
              {{item.value || 0}}
            </p>
          </div>
        </div>
      </div>
    </div>
  
    <hr class="my-4">
  
    <h4 class="mb-3 fw-bold">💸 Withdraw Users</h4>
    <div class="container-fluid mt-3">
      <div class="transaction-table">
        <div class="table-responsive">
          <table class="table  align-middle text-nowrap">
            <thead>
              <tr>
                <th>S.no</th>
                <th>Date</th>
                <th>Registration ID</th>
                <th>Name</th>
                <th> Amount</th>
                <th>WalletType</th>
              </tr>
            <tbody>
              <tr *ngFor="let item of withdrawUsersData; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ item.cdate }}</td>
                <td>{{ item.forid }}</td>
                <td>{{ item.fname }}</td>
                <td>${{ item.amount }}</td>
              </tr>
            
              <tr *ngIf="noData">
                <td colspan="6" class="text-center text-danger fw-bold">
                  No data is available
                </td>
              </tr>
            </tbody>
            
          </table>
        </div>
      </div>
    </div>
  
    <ng-template #noData>
      <p class="text-muted">No withdraw requests available.</p>
    </ng-template>
<!--  -->
  <h4 class="mb-3 fw-bold mx-3">Total Users</h4>

  <div class="container-fluid mt-3">
    <div class="transaction-table">
      <div class="table-responsive">
        <table class="table  align-middle text-nowrap">
          <thead>
            <tr>
              <th>S.no</th>

              <th>Date</th>
              <th>Registration ID</th>
              <th>Name</th>
              <th>position</th>
            </tr>
          <tbody>
            <tr *ngFor="let item of tuser.data; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ item.cdate }}</td>
              <td>{{ item.regid }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.position }}</td>
            </tr>
          
            <tr *ngIf="noData">
              <td colspan="6" class="text-center text-danger fw-bold">
                No data is available
              </td>
            </tr>
          </tbody>
          
        </table>
      </div>
    </div>
  </div>


  <!--  -->