<div class="mb-3">
    <label for="teamSelect" class="form-label ">Select Team</label>
    <select id="teamSelect" class="form-select">
      <option value=""> Select packages</option>
      <option value="left">Sliver</option>
      <option value="right">Gold</option>
      <option value="tree">Diamond</option>
    </select>
  </div>
  
   

    <h2 class="fw-bold">Matching Income</h2>
    <table>
        <thead>
            <tr>
                <th>S.No</th>
                <th>Date</th>
                <th>User Id</th>
                <th>Name</th>
                <th>Subcription</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>DD</td>
                <td>0x37e9</td>
                <td>ss</td>
                <td>56062311</td>
                <td>2 minutes ago</td>
                <td>56062311</td>

            </tr>
        
        </tbody>
    </table>
